/** Button */

.button {
	text-align: center;
	font-size: 17px;
	font-weight: 800;
	line-height: 140%;
	padding: 12px 32px;
	transition: background-color var(--transition);
	display: inline-block;
	cursor: pointer;
}

.button_primary {
	background-color: var(--color-main);
	color: var(--color-primary);
	border-radius: var(--border-34);
}

.button_secondary {
	background-color: var(--color-primary);
	color: var(--color-text);
	border-radius: var(--border-47);
}

.button_primary:hover {
	background-color: var(--color-links);
}
/** Container */
.container {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 80px 24px;
	position: relative;
}
.container.hr::after {
	content: '';
	position: absolute;
	height: 1px;
	background-color: var(--color-hr);
	width: calc(100% - 48px);
	bottom: 0;
	right: 24px;
	left: 24px;
}
@media (max-width: 960px) {
	.container {
		padding: 48px 24px;
	}
}
/** Section */
.section_primary {
	background: var(--color-primary);
}
.section_crop {
	position: relative;
	z-index: 0;
}

.section_crop::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	clip-path: polygon(0px 100%, 100% 70%, 100% 101%, 0% 100%);
	background: var(--color-main);
}
@media (max-width: 960px) {
	.section_crop::before {
		clip-path: polygon(0px 100%, 100% 90%, 100% 101%, 0% 100%);
	}
}

/** Advantages */
.advantages__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}
.advantages__wrapper.advantages__wrapper_reverse {
	flex-direction: row-reverse;
}
.advantages__title {
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	color: var(--color-headings);
	margin-bottom: 24px;
}
.advantages__text {
	color: var(--color-text);
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
}
.advantages > .container.hr:last-child::after {
	display: none;
}
@media (max-width: 1260px) {
	.advantages__wrapper,
	.advantages__wrapper.advantages__wrapper_reverse {
		flex-direction: column-reverse;
		text-align: start;
	}
	.advantages__right {
		margin-bottom: 32px;
	}
}
@media (max-width: 960px) {
	.advantages__title {
		font-size: 32px;
	}
}

/** About */

.about__wrapper {
	display: flex;
	gap: 78px;
}

.about__item {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;
}

.about__item > h3 {
	color: var(--color-headings);
	font-size: 32px;
	font-weight: 600;
	line-height: 120%;
}

.about__item > p {
	color: var(--color-text);
	font-size: 17px;
	font-weight: 500;
	line-height: 140%;
}
@media (max-width: 960px) {
	.about__item > h3 {
		font-size: 24px;
	}
	.about__wrapper {
		flex-direction: column;
		gap: 32px;
	}
}

/** Support-banner */
.support {
	background-color: var(--color-primary);
	max-width: var(--layout-width);
	margin: 0 auto;
	border-radius: var(--border-16);
}
.support__wrapper {
	display: flex;
	gap: 74px;
	align-items: center;
}

.support__left {
	align-self: flex-end;
}
.support__title {
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	color: var(--color-main);
	margin-bottom: 24px;
}

.support__text {
	color: var(--color-links);
	font-size: 17px;
	font-weight: 500;
	line-height: 140%;
	margin-bottom: 44px;
}
.support__container {
	padding: 80px 24px 0;
}
@media (max-width: 960px) {
	.support__wrapper {
		flex-direction: column-reverse;
		gap: 0;
	}
	.support__left {
		align-self: center;
	}
	.support__title {
		font-size: 36px;
		text-align: start;
	}
	.support__text {
		text-align: start;
		margin-bottom: 32px;
	}
	.support {
		border-radius: 0;
	}
	.support__container {
		padding: 64px 24px 0;
	}
}
/** Social */

.social-icons {
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	margin-bottom: 40px;
}
.social-icons__icon {
	display: flex;
	gap: 16px;
	align-items: center;
	font-size: 17px;
	font-weight: 500;
	line-height: 140%;
	color: var(--color-main);
	transition: color var(--transition);
}
.social-icons__icon:hover {
	color: var(--color-links);
}

@media (max-width: 960px) {
	.social-icons {
		margin-bottom: 32px;
	}
}
