/** Button */

.button {
	text-align: center;
	font-size: 17px;
	font-weight: 800;
	line-height: 140%;
	padding: 12px 32px;
	transition: background-color var(--transition);
}

.button_primary {
	background-color: var(--color-main);
	color: var(--color-primary);
	border-radius: var(--border-34);
}

.button_primary:hover {
	background-color: var(--color-links);
}
