/** Header */
.header {
	background: var(--color-primary);
}

.header__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 24px 19px;
	position: relative;
}
.header__mobile-menu-btn {
	display: none;
	border: none;
	background: none;
	cursor: pointer;
}

@media (max-width: 960px) {
	.header__mobile-menu-btn {
		display: block;
	}
	.header__login {
		display: none;
	}

	.header__wrapper::after {
		content: '';
		position: absolute;
		height: 1px;
		background-color: var(--color-main);
		width: calc(100% - 48px);
		bottom: 0;
		right: 24px;
		left: 24px;
	}
}
/* Menu */
.menu {
	display: flex;
	gap: 32px;
}

.menu__item a {
	font-size: 18px;
	line-height: 140%;
	color: var(--color-links);
	transition: color var(--transition);
}

.menu__item a:hover {
	color: var(--color-main);
}

@media (max-width: 960px) {
	.menu {
		display: none;
	}
}
